.name-products {
    background-color: black;
    width: 100%;
    height: 65px;
    padding: 0;
    color: white;
}

p.text-product {
    margin-left: 46%;
    padding: 20px;
    font-size: 27px;
    color: white;
}

.banner {
    background-color: pink;
    width: 100%;
    height: 394px;
}

section.view-game {
    margin-left: 44%;
    margin-top: 6%;
    font-size: 26px;
}

.products {
    display: flex;
    margin-left: 20%;
}

.products-text {
    width: 30%;
    height: 600px;
    margin-left: 10%;
}

.products-image {
    width: 30%;
    height: 600px;
    margin-left: 1%;
}

.sell-products {
    display: flex;
    justify-content: center;
    background-color: gray;
    height: 463px;
}

.image {
    margin-right: 40px;
    margin-top: 29px;
}

h2 {
    font-size: 41px;
}

h5 {
    margin-top: -18px;
    font-size: 19px;
}

input[type="submit"] {
    margin-left: 46px;
    margin-top: 19px;
}

table {
    padding: 0;
    border: none;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 1170px;
    margin: 50px auto 10px;
}

table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
    height: 56px;
    text-align: center;
}

h3.name {
    margin-left: 362px;
    margin-bottom: -37px;
    font-size: 25px;
}