body {
    font-family: 'Chakra Petch', sans-serif;
}

.bg-me {
    background: #ce5b5b;
}

.bg-me a {
    color: white;
}

.text--me {
    font-weight: bold;
}

.banner--index {
    position: relative;
}

.banner--index div.text {
    padding: 50px 0;
    padding-left: 100px;
}

.banner--index div.text h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.banner--index div.text p {
    font-weight: 200;
}

.banner--index div.img {
    position: absolute;
    top: 0;
    right: 0;
}

article {
    padding: 20px 0;
}

article .pros {
    flex: 0 0 30% !important;
    border: 1px solid #000;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
}

article .pros .price {
    background: #9ebb9e;
    text-align: center;
    margin: auto;
    width: 100%;
    border-bottom-left-radius: 10px;
}

article .pros .price>p {
    padding: 10px;
    color: white;
}

article .pros .price>p>span {
    color: #bd2b2b;
    font-size: 24px;
    font-weight: bold;
}

article .img-pro {
    width: 100%;
    height: 200px;
    margin: 10px 0;
}

article .img-pro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

article .title {
    text-align: center;
    max-height: 60px;
    min-height: 60px;
    vertical-align:middle;
}

.cart--pro {
    margin: 20px 0;
    border-radius: 10px;
    border: 1px solid brown;
    padding: 10px;
}

.cart--pro .img-cart img {
    width: 70px;
    height: auto;
    margin-top: 30px;
}

.cart--pro .list--cart {
    padding: 10px;
}

.cart--pro .list--cart>p {
    color: gray;
}

.cart--pro .list--cart>p>span {
    color: red;
}

.input--x {
    margin: 20px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid brown;
    padding: 20px;
}

.input--x input {
    width: 100%;
    padding-left: 20px;
    padding: 10px;
}

.list--category {
    padding: 20px 0;
}

.list--category h3 {
    width: 100%;
    padding: 10px;
    color: white;
    background: #9ebb9e;
    margin: 0 0;
}

.list--category ul {
    width: 100%;
}

.list--category ul li {
    cursor: pointer;
}

.list--category ul li:hover {
    color: white;
    font-weight: bold;
    background: #9ebb9e;
}

 :root {
    font-family: 'Chakra Petch', sans-serif !important;
}



.hedding{
	font-size: 20px;
	color:#ab8181`;
}
.main-section{
	
}
.left-side-product-box img{
	width: 100%;
}
.left-side-product-box .sub-img img{
	margin-top:5px;
	width:83px;
	height:100px;
}
.right-side-pro-detail span{
	font-size:15px;
}
.right-side-pro-detail p{
	font-size:25px;
	color:#a1a1a1;
}
.right-side-pro-detail .price-pro{
	color:#E45641;
}
.right-side-pro-detail .tag-section{
	font-size:18px;
	color:#5D4C46;
}
.pro-box-section .pro-box img{
	width: 100%;
	height:200px;
}
@media (min-width:360px) and (max-width:640px) {
	.pro-box-section .pro-box img{
		height:auto;
	}
}
